*.class
*~
~lock.*
~$*
.DS_Store
*.svn/
*.nogit/
*project/
LMSClass/
*.nogit/
*audio/
*.out/
*.camel/
*error/

**/generated_content_ilt/
**/generated_content_instructor/
**/generated_content_instructor_snippet/
**/generated_content_students/
**/generated_content_students_snippet/
**/generated_content_slideshow/
**/generated_content_pdf/
**/generated_content/
config/*

.classpath
.project
.settings/
styles/
